.s-1 {
    margin-bottom: 30px;
    .container {
        @extend %mycontainer;
        @include myflex(column, flex-end, flex-end, wrap);
        justify-content: space-around;
        .card {
            @include mycard;
        }
    }
}
.s-2 {
    margin-bottom: 30px;
    .container {
        @extend %mycontainer;
        @include goflex;
        justify-content: space-around;
        .card {
            @include mycard;
        }
    }
}
.s-3 {
    margin-bottom: 30px;
    .container {
        @extend %mycontainer;
        @include goflex;
        justify-content: space-around;
        .card {
            @include mycard;
        }
    }
}

.s-4 {
    background-color: lightblue;
    height: 600px;
    .container {
        @extend %mycontainer;
        height: 100%;
        .wrapper {
            width: 100%;
            height: 100%;
            border: 1px solid blue;

            @include myflex;

            .card {
                @include mycard;
                @media (max-width: $tablesize) {
                    background-color: black;
                }
                @media (max-width: $phonesize) {
                    background-color: yellow;
                }
            }
        }
    }
}
